<!DOCTYPE html>
<html>
<body>
<v-vertical-layout size-full>
    <!-- Label with HTML content -->
    <v-panel>
        <v-vertical-layout margin spacing>
            <v-label><h3>Sign In</h3></v-label>
            <v-horizontal-layout spacing>
                <v-text-field caption="Email" />
                <v-password-field caption="Password" />
            </v-horizontal-layout>
            <v-button style-name="primary">Sign In</v-button>
        </v-vertical-layout>
    </v-panel>
</v-vertical-layout>
</body>
</html>